<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginConf</servlet-name>
        <servlet-class>Admin.AdminLoginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConf</servlet-name>
        <servlet-class>student.LoginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpDelQues</servlet-name>
        <servlet-class>Admin.UpDelQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpDelQuest</servlet-name>
        <servlet-class>Admin.UpDelQuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestion</servlet-name>
        <servlet-class>Admin.UpdateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion1</servlet-name>
        <servlet-class>Admin.AddQuestion1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuRegConf</servlet-name>
        <servlet-class>student.StuRegConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion2</servlet-name>
        <servlet-class>Admin.AddQuestion2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmChangePswd</servlet-name>
        <servlet-class>Admin.AdmChangePswd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestion1</servlet-name>
        <servlet-class>Admin.UpdateQuestion1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDelQuest</servlet-name>
        <servlet-class>Admin.UpdateDelQuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQues</servlet-name>
        <servlet-class>Admin.DeleteQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartExam</servlet-name>
        <servlet-class>student.StartExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>Admin.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswer</servlet-name>
        <servlet-class>student.SubmitAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuLogout</servlet-name>
        <servlet-class>student.StuLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuResult</servlet-name>
        <servlet-class>student.StuResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginConf</servlet-name>
        <url-pattern>/AdminLoginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConf</servlet-name>
        <url-pattern>/LoginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpDelQues</servlet-name>
        <url-pattern>/UpDelQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpDelQuest</servlet-name>
        <url-pattern>/UpDelQuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestion</servlet-name>
        <url-pattern>/UpdateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion1</servlet-name>
        <url-pattern>/AddQuestion1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuRegConf</servlet-name>
        <url-pattern>/StuRegConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion2</servlet-name>
        <url-pattern>/AddQuestion2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmChangePswd</servlet-name>
        <url-pattern>/AdmChangePswd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestion1</servlet-name>
        <url-pattern>/UpdateQuestion1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDelQuest</servlet-name>
        <url-pattern>/UpdateDelQuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQues</servlet-name>
        <url-pattern>/DeleteQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartExam</servlet-name>
        <url-pattern>/StartExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswer</servlet-name>
        <url-pattern>/SubmitAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuLogout</servlet-name>
        <url-pattern>/StuLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuResult</servlet-name>
        <url-pattern>/StuResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
